doctype html
html
	head
		title Node MVC Template
		link(rel='stylesheet' type='text/css' href='/resources/css/layout.css')
		link(rel='stylesheet' type='text/css' href='/resources/css/bootstrap.css')
		script(src='/resources/js/jquery.js')
	body
		block content

	