doctype html
html
	head
		title Youtube Audio Visualizer
		script(src='/resources/js/jquery.js')
		script(src='/resources/js/layout.js')
		link(rel='stylesheet' type='text/css' href='/resources/css/bootstrap.css')
		link(rel='stylesheet' type='text/css' href='/resources/css/layout.css')
	body
		block content

	