extends layout.pug

block content
    - let videoId = locals.videoId;
    audio(controls).d-none
        source(src="/visualizer/playAudio?videoId=" + videoId)
    .row
        .col-12
            canvas#display
    script(src='/resources/js/visualizer.js')