extends layout.pug

block content
    - let videoId = locals.videoId;
    audio(controls).d-none
        source(src="/visualizer/playAudio?videoId=" + videoId)
    .row
        .col-12
            canvas#display
            #side-panel.open-panel
                .row.mt-3
                    .col-12
                        label Volume
                        .slider-container
                            input(type='range' min='0' max='100' value='50')#volume-control.slider
                #side-btn
    script(src='/resources/js/visualizer.js')